@model ASP.NET_MVC_Application.Models.Robot

@using ASP.NET_MVC_Application.Models;
@using ASP.NET_MVC_Application.Extensions;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


    var allRobots = (List<Robot>) ViewBag.All;
}

<div>
    <h3>Fill the blanket below</h3>
</div>
<form method="post" style="margin: 5% 0 0">
    <div class="float-left">
        <p>Id</p>
        <p>Name</p>
        <p>Direction</p>
    </div>
    <div class="float-right">
        <input type="text" style="margin: 1px 0 2px" name="id" /><br />
        <input type="text" style="margin: 1px 0 2px" name="Name" /><br />
        <input type="text" style="margin: 1px 0 2px" name="Direction" /><br />
        
        <br/>
        <input type="submit" value="Save" />
    </div>
</form>

<p>
    @if (ViewBag.Submitted)
    {
        // If the form was submitted
        @ViewBag.Message
    }
</p>