@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>

<p>Decentalized System of robotized logistic centers united with by BlockChain based network</p>
<div class="img-div">
    <img src="~/images/about.png" class="img-itself"/>
</div>

