@{
    ViewBag.Title = "Contact";
}

<h3>@ViewBag.Message</h3>
<div class="img-div">
    <img src="~/images/ContactUs.png" class="img-itself" />
</div>
<address>
    Russia, Kazan, street: Sibirskiy trakt 34A, 4 floor, cabinet 401<br />
    RobotLand club 
    <ul>
        <li>Telephone number: +7(8432)39-30-60</li>
        <li>Mail: robotland.kzn@gmail.com</li>
    </ul>
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@